{% load i18n %}
{% load static %}
    <!-- ======= Call To Action Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-out">

        <div class="row g-5">

          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h3>Le RAFGO, un <em>Réseau Ouvert</em> qui n'attend que vous</h3>
            <p> Le développement durable et inclusif de votre pays vous  tient à coeur?  vous êtes engagé à promouvoir la démocratie? Vous êtes une organistion de la société civile d'Afrique Francophone? Notre communauté de reformateurs est ouverte et prête à vous accuellir.</p>
            <a class="cta-btn align-self-start" href="#">Rejoignez-Nous</a>
          </div>

          <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
            <div class="img">
              <img src="{% static 'assets/img/cta2.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Call To Action Section -->