{% load i18n %}
{% load static %}
    <!-- ======= On Focus Section ======= -->
    <section id="onfocus" class="onfocus">
      <div class="container-fluid p-0" data-aos="fade-up">

        <div class="row g-0">
          <div class="col-lg-6 video-play position-relative">
            <a href="https://www.youtube.com/watch?v=lc2cjGkVBe0" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6">
            <div class="content d-flex flex-column justify-content-center h-100">
              <h3>{% trans "En savoir plus sur le Parténariat pour le Gouvernement Ouvert (PGO)" %}</h3>
              <p class="fst-italic">
                {% trans "Le RAFGO s'inscrit dans le cadre du Partenariat pour un Gouvernement Ouvert (PGO), "%} 
                {% trans "initiative multilatérale, inaugurée en 2011, qui associe 80 pays, " %} 
                {% trans "106 gouvernements locaux et des milliers d'organizations de la société civile; et qui œuvre à :" %}
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> {% trans "Favoriser la transparence de l’action publique, notamment via l’ouverture des données publiques." %}</li>
                <li><i class="bi bi-check-circle"></i> {% trans "Améliorer la participation citoyenne à l’élaboration et à l’évaluation des politiques publiques." %}</li>
                <li><i class="bi bi-check-circle"></i> {% trans "Favoriser l’intégrité de l’action publique et des agents publics." %}</li>
                <li><i class="bi bi-check-circle"></i> {% trans "S’appuyer sur l’utilisation des nouvelles technologies pour favoriser la redevabilité." %}</li>
              </ul>
              <a href="#" class="read-more align-self-start"><span>{% trans "Lire Plus" %}</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End On Focus Section -->