{% load i18n %}
{% load static %}
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">
        <div class="section-header">
          {% trans "Quelques chiffres, pas pour l'amour des chiffres mais pour l'optimisme projeté" %}
        </div>
        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="icon"><i class="fa-sharp fa-solid fa-people-group"></i></div>
              <h4><a href="" class="stretched-link">66 {% trans "Personnes" %}</a></h4>
              <p>{% trans "Des reformateurs/trices engagé(e)s qui échangent au quptidient pour innover la Démocratie" %}</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="fa-sharp fa-solid fa-building-ngo"></i></div>
              <h4><a href="" class="stretched-link">50 {% trans "Organisations" %}</a></h4>
              <p>{% trans "Des organisations de femmes et de jeunes très dynamiques issues des communautés" %}</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="fa-solid fa-earth-africa"></i></div>
              <h4><a href="" class="stretched-link">{% trans "18 Pays" %}</a></h4>
              <p>{% trans "Des pays membres et aspirants membres du PGO ayants en commun la langue française" %}</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon"><i class="fa-sharp fa-solid fa-diagram-project"></i></div>
              <h4><a href="" class="stretched-link">{% trans "30 Projets" %}</a></h4>
              <p>{% trans "Des projets transformateurs pour un développement durable et inclusif de la région" %}</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->