{% load i18n %}
{% load static %}
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">
        
        <div class="section-header">
          <h2>{% trans 'Nos Partenaires' %}</h2>
          <p>{% trans "Nous remercions nos partenaires qui ne menagent aucun effort pour nous accompager dans notre mission." %}</p>
        </div>
        
        <div class="clients-slider swiper" style="height: 100px !important;">
          <div class="swiper-wrapper align-items-center">
            
            <div class="swiper-slide">
              <a href="https://hewlett.org/" target="_blank"> 
                <img src="{% static 'assets/img/partners/logo_hewlett.svg' %}" class="img-fluid "alt="">
              </a>
            </div>
            
            <div class="swiper-slide">
              <a href="https://www.opengovpartnership.org/" target="_blank"> 
                <img src="{% static 'assets/img/partners/logo_ogp.png' %}" class="img-fluid "alt="">
              </a>
            </div>

            <div class="swiper-slide">
              <a href="https://hewlett.org/" target="_blank"> 
                <img src="{% static 'assets/img/partners/logo_hewlett.svg' %}" class="img-fluid "alt="">
              </a>
            </div>

            <div class="swiper-slide">
              <a href="https://www.opengovpartnership.org/" target="_blank"> 
                <img src="{% static 'assets/img/partners/logo_ogp.png' %}" class="img-fluid "alt="">
              </a>
            </div>

            <!-- <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid "alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid "alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid "alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid "alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-7.png' %}" class="img-fluid "alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-8.png' %}" class="img-fluid "alt=""></div> -->
          </div>
        </div>
      </div>

    </section><!-- End Clients Section -->