{% load i18n %}
{% load static %}
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>{% trans "Nos Projets" %}</h2>
          <p>{% trans "Promouvoir la Transparence, la Participation citoyenne, la Redevabilité et l'usage de la technologie pour innover la démocratie.</br>20 projets portés par des membres  seront financés et couvriront les 3 volets suivants:" %}</p>
        </div>

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'assets/img/services-1.png' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-activity"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Volet 1</h3>
                </a>
                <p>Booster l'adhésion des pays de la région au PGO et améliorer les scores de ceux déjà membres.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'assets/img/services-2.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-broadcast"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Volet 2</h3>
                </a>
                <p>Impulser et soutenir une dynamique de PGO local dans les municipalités et collectivités territoriales des pays membres.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'assets/img/services-3.png' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-easel"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Volet 3</h3>
                </a>
                <p>Renforcer les capavité des membres en matière de gouvernement ouvert et perrenniser le réseau.</p>
              </div>
            </div>
          </div><!-- End Service Item -->
          
        </div>

      </div>
    </section><!-- End Services Section -->